body {
	background-color: #071b27;
}
a {
	color: #2222ff;
	text-decoration: none;
}

Info {
	color: #ffffff;
}

figcaption {
	color: #000000;
	text-align: center;
	font-size: 30px;
}
video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	background-color: #2196F3;
}

.banner {
	width: 100%;
	background-color: #1e70b3;
}
.title {
	background-color: #124670;
	color: #ffffff;
	font-size: 70px;
	text-align: center;
}
.image-body img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
.image-body {
	width: 95%;
	border-top: 10px solid #2196F3;
	margin-left: auto;
	margin-right: auto;
	background-color: #2196F3;
}
.text-body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
	font-size: x-large;
	color: #ffffff;
	background-color: #124670;
	
	border-left: 4px solid #124670;
	border-right: 4px solid #124670;
}

.gallery1 {
	display: grid;
	grid-template-columns: auto;
	background-color: #2196F3;
	
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.gallery2 {
	display: grid;
	grid-template-columns: auto auto;
	background-color: #2196F3;
	
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.gallery1 img {
	width: 100%;
}
.gallery2 img {
	width: 100%;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px;
	background-color: #2196F3;
	padding: 10px;
}
.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
  }